# Problem Statement

Build an AI model that can classify SMS messages as spam or legitimate. Use techniques like TF-IDF or word embeddings with classifiers like Naive Bayes, Logistic Regression, or Support Vector Machines to identify spam messages

# Step #0: Libraries Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step #1: Import Dataset

In [2]:
df=pd.read_csv('spam.csv',encoding='ISO-8859-1')

In [3]:
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.tail(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# Step #2: Data Cleaning

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

###### Dropping columns 2,3 and 4 since they have very few entries.

In [6]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [7]:
df.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

###### Renaming the columms

In [8]:
df.rename(columns={'v1':'class','v2':'SMS Messages'},inplace=True)

In [9]:
df.head(5)

  class                                       SMS Messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

###### Converting the label of class column to binary using Label Encoder function

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
encoder = LabelEncoder()
df['class']  = encoder.fit_transform(df['class'])

###### To check the presence of missing values

In [12]:
df.isnull().sum()

class           0
SMS Messages    0
dtype: int64

###### To check the presence of any duplicate entries

In [13]:
df.duplicated().sum()

403

In [14]:
#removing duplicate entries
df=df.drop_duplicates(keep='first')

In [15]:
df.duplicated().sum()

0

In [16]:
df.shape

(5169, 2)

# Step #3: Exploratory Data Analysis

In [17]:
df['class'].value_counts()

class
0    4516
1     653
Name: count, dtype: int64

###### Data is imbalanced

In [24]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [19]:
# import nltk
# nltk.data.path.append('C:\\Users\\pruth\\Downloads\\punkt')

In [20]:
# nltk.download('punkt', download_dir='C:\\Users\\pruth\\Downloads\\Codsoft', quiet=True, halt_on_error=False)

In [21]:
df['SMS Messages'].apply(len)

0       111
1        29
2       155
3        49
4        61
       ...
5567    161
5568     37
5569     57
5570    125
5571     26
Name: SMS Messages, Length: 5169, dtype: int64

In [22]:
df['character_len']=df['SMS Messages'].apply(len)
df.head(5)

   class                                       SMS Messages  character_len
0      0  Go until jurong point, crazy.. Available only ...            111
1      0                      Ok lar... Joking wif u oni...             29
2      1  Free entry in 2 a wkly comp to win FA Cup fina...            155
3      0  U dun say so early hor... U c already then say...             49
4      0  Nah I don't think he goes to usf, he lives aro...             61

In [23]:
# df['SMS Messages'].apply(lambda x: len(nltk.word_tokenize(x)))